{% extends "base.html" %}
{% block content %}
    <h1>Games</h1>
    <h2>These are games for you {{ user.email.split('@')[0] }}!</h2>

    <ul class="list-group">
        {% for game in data %}
            <li>
                <img src={{ "https:" + game.cover }}>
                {{ game.name }}
                {{ game.summary  }}
                <ul>
                    {% for genre in game.genres %}
                        <li class="list-group-item">
                            {{ genre.name }}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>


{% endblock %}
