{% extends "base.html" %}
{% block content %}
    <form method="post">
        <h3>Register</h3>
        <div>
            <div>{{ form.email.label }}<br>{{ form.email(class="input, form-control", placeholder="Enter email") }}</div>
            <div>{{ form.password.label }}<br>{{ form.password(class="input, form-control", placeholder="Enter password") }}</div>
            <div>{{ form.password.label }}<br>{{ form.password(class="input, form-control", placeholder="Repeat password") }}</div>
            <button type="submit" class="btn btn-primary">Create account</button>
        </div>
    </form>
{% endblock %}
