{% extends "base.html" %}
{% block content %}

    {% macro render_input(field) %}
        <div>
            {{ field.label }}<br>{{ field(class="input, form-control") }}
            <ul class="errors" style="color: red">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endmacro %}

    <form method="post">
        <h3>Register</h3>
        <form method="post">
            {{ render_input(form.email) }}
            {{ render_input(form.password) }}
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Create account</button>
            </div>
        </form>
    </form>
{% endblock %}
